<!-- <div class="container p-5">
  <div class="row">
      <div class="col-sm-8 offset-2">
          <p class="text-center">Questão 1/10</p>
          <h1> {{ prova[0].pergunta }}</h1>

         <ul class="list-group" *ngFor="let questao of prova[0].options">
              <label>
              <li class="list-group-item"> {{ prova[0].options }} </li>
                  <input type="radio" nome="opcoes" >
                  
                  
              </label>
          </ul>

         
   </div>
  </div>
</div>  -->

<div class=" container bg-light" style="height: 100vh; width: 100vw; ">
    <div class=" p-5">
        <div class="card bg-white p-5" >
            <div class="title">
                <h1>Cadastro de Teste Técnico</h1>
            </div>
            <div class="subtitle pt-3">
                <h3>Bem vindo(a), cadastre sua questão e assinale a(s) alternativas corretas</h3>                
            </div>
           <ul  class="list" style="list-style: none;">
            <div>
            <div class="input-group mb-3 ">
                <span class="input-group-text">Pergunta</span>
               <input type="text" class="form-control">
             </div>
             
            </div>
            <div class="input-group mb-3 pt-3">
                <div class="input-group-text">
                  <input type="checkbox">
                </div>
                <input type="text" class="form-control" placeholder="resposta 1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                  <input type="checkbox">
                </div>
                <input type="text" class="form-control" placeholder="resposta 2">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                  <input type="checkbox">
                </div>
                <input type="text" class="form-control" placeholder="resposta 3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                  <input type="checkbox">
                </div>
                <input type="text" class="form-control" placeholder="resposta 4">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                  <input type="checkbox">
                </div>
                <input type="text" class="form-control" placeholder="resposta 5">
            </div>
           
            </ul>
      <div>
        <button type="button" class="btn btn-primary btn-sm">Salvar questão</button>
        <button type="button" class="btn btn-warning btn-sm">Editar questão</button>
        <button type="button" class="btn btn-danger btn-sm">Deletar questão</button>
      </div>
        </div>
        
       
    </div>
    </div>