<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Enviar Video Analista de Midia Digital e Performance - SoulCode Academy</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    

    <!-- Main Style CSS -->
    

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>

<body>

    <div id="page">
        <!-- Header Section Start -->
        <div class="header-section header-shadow header-sticky-bg-dark header-light sticky-header section">
            <div class="header-inner">
                <div class="container position-relative">
                    <div class="row justify-content-between align-items-center">

                        <!-- Header Logo Start -->
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="index.html">
                                   <!--  <img class="dark-logo" src="assets/images/logo/dark-logo.png" alt="SoulCode Logo">
                                    <img class="light-logo" src="assets/images/logo/light-logo.png" alt="SoulCode Logo"> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Section End -->

        <!-- Page Title Section Start -->
        <div class="section section-padding bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-service"
                            style="padding-bottom: 30px;box-shadow: 0px 10px 15px 0px rgb(51 51 51 / 10%);">
                            <div class="col-lg-12 px-4 py-4">
                                <div class="about-content" style="max-width: 100%;">
                                    <span class="sub-title" style="margin-bottom: 0px;">PROCESSO SELETIVO</span>
                                    <h2 class="title fs-1">Analista de Mídia Digital e Performance
                                        <br><span></span>
                                    </h2>
                                    <p>
                                        Nesta fase do processo seletivo, queremos saber mais sobre você e o que espera
                                        dessa nova etapa de vida e carreira. Para isso, solicitamos que grave um vídeo
                                        de apresentação pessoal, com tempo máximo de 2 minutos e meio, contando porque
                                        você está participando da seleção para o Bootcamp Analista de Mídia Digital e
                                        Performance. No seu vídeo, gostaríamos de ouvir sobre:
                                    </p>
                                    <ul class="review-list">
                                        <li>Seu nome, idade, que cidade mora e sobre sua família.
                                        </li>
                                        <li>O que você já estudou ou conhece de marketing digital?
                                        </li>
                                        <li>Possui algum curso ou conhece algo relacionado a Marketing e
                                            Tecnologia?
                                        </li>
                                        <li>Quais grupos ou comunidades ligadas ao marketing você faz
                                            parte?</li>
                                        <li>Faça uma breve descrição de alguma atividade ligada ao
                                            Marketing que você já fez, ou se porventura já utiliza na
                                            sua vida pessoal, queremos entender seu momento (pesquise se
                                            necessário).</li>
                                        <li>Qual trabalho voluntário você faz ou já fez?</li>
                                    </ul>
                                    <div
                                        style="background-color: #fef5d4; width: 100%; text-align: justify; padding: 15px 15px 15px 15px; border-left: solid thick #f1bf0a; ">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #f1bf0a;    font-size: 1.33333333em;
                                                    line-height: .75em;
                                                    vertical-align: -15%;"></i>
                                        <span style="font-weight: 600;">FIQUE ATENTO: </span>O tempo
                                        máximo
                                        de gravação do seu vídeo é de 2 minutos e 30 segundos.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-service service-bg-center"
                            style="padding-bottom: 30px; margin: 0;background-size: cover !important;background-color: #0f637a;">
                            <div class="col-lg-12">
                                <div class="text-white">
                                    <h2 class="text-white mt-3">Enviar Vídeo</h2>
                                    <p>Para enviar seu vídeo, preencha o email e selecione o arquivo de vídeo.</p>
                                    <form id="formInscricao">
                                        <input type="hidden" id="hiddenCurso" value="1713161">
                                        <div class="row" id="formContainer">
                                            <div class="col-lg-12">
                                                <div class="form-field">
                                                    <input type="email" placeholder="Email" id="inputEmail"
                                                        maxlength="48">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-control my-3">
                                                    <input type="file" placeholder="Arquivo*" id="inputArquivo"
                                                        hidden="">
                                                    <label for="inputArquivo" id="labelArquivo" class="form-control"
                                                        style="width: 100%; border-radius: 3px; border: 1px solid #ffffff; color: #767676; background: #ffffff;">
                                                        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                                        <div id="labelArquivoMessage" class="pl-5"
                                                            style="display: inline;">
                                                            Selecionar arquivo</div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="error-list"></div>

                                        <button type="button" id="buttonEnviar" class="btn btn mt-lg-4 mb-5 w-100"
                                            style="background-color: #f8c100 ;color: #444;"><i
                                                class="fa fa-cloud-upload fa-lg me-2"></i>ENVIAR VÍDEO</button>
                                    </form>
                                    

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->
        <!-- Start of soulcodeacademysupport Zendesk Widget script -->
       
        <!-- End of soulcodeacademysupport Zendesk Widget script -->
        <!-- Product Details Section End -->
        <!--  -->
    </div>

    <div id="site-main-mobile-menu" class="site-main-mobile-menu">
        <div class="site-main-mobile-menu-inner">
            <div class="mobile-menu-header">
                <div class="mobile-menu-logo">
                    <a href="index.html"><img src="assets/images/logo/dark-logo.png" alt=""></a>
                </div>
                <div class="mobile-menu-close">
                    <button class="toggle">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            
        </div>
    </div>

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    

    <script async>
        var db = firebase.firestore()
        var videoFile;

        if (window.location.hostname === "localhost") {
            console.log("localhost detected!");
            db.settings({
                host: "localhost:8080",
                ssl: false
            });
        }

        document.getElementById('inputArquivo').addEventListener('change', (e) => {
            document.getElementById("labelArquivo").removeAttribute("style")

            document.getElementById('labelArquivoMessage').innerHTML =
                e.target.files[0].name.length > 25 ?
                    `${e.target.files[0].name.substr(0, 24)}...`
                    : e.target.files[0].name

            videoFile = e.target.files[0]
        })

        document.getElementById('buttonEnviar').addEventListener('click', async () => {
            const buttonEnviar = document.getElementById("buttonEnviar")
            buttonEnviar.setAttribute("disabled", "true")
            buttonEnviar.style.backgroundColor = "rgb(204 204 204 / 36%)"
            buttonEnviar.innerText = "Aguarde..."

            var inputEmail = document.getElementById("inputEmail")

            document.getElementById("error-list").innerText = ""
            inputEmail.removeAttribute("style")
            document.getElementById("labelArquivo").removeAttribute("style")

            if (validateForm()) {

                const hiddenCurso = document.getElementById("hiddenCurso").value
                const getEnrollmentId = firebase.functions().httpsCallable("getEnrollmentId")
                const enrollmentId = await getEnrollmentId({ email: inputEmail.value, course: hiddenCurso })

                if (enrollmentId.data !== null) {
                    buttonEnviar.remove()
                    document.getElementById("formContainer").innerHTML = '<div class="col-lg-12 text-center pt-15"><i class="fa fa-refresh fa-spin fa-3x fa-fw text-white"></i><span style="font-size: 14px; font-weight: 400; padding-top: 10px; color: white;">Enviando arquivo...</span><div class="pt-30 text-white" style="font-size: 12pt;">Aguarde a confirmação de recebimento para sair desta página</div></div>'

                    const storageRef = firebase.storage().ref().child(`Processo Seletivo/Videos/BC19/${enrollmentId.data}`);

                    try {
                        const uploadTask = await storageRef.put(videoFile);
                        document.getElementById("formContainer").innerHTML =
                            '<div class="col-lg-12 pt-15"><div class="content white-bg light-shadow-bordered" style="background-size: cover;background-repeat: no-repeat;border-radius: 3px;padding: 10px;background-color: #99d3c0; color:#444;"><div class="row y-middle"><div class="col-lg-12 text-left pl-15"><div class="sub-title primary fw-bold">CONFIRMAÇÃO DE ENVIO</div><div class="small">Seu arquivo foi enviado com sucesso.</div></div></div></div></div>'
                        await createUploadAttemptSuccess(enrollmentId.data, inputEmail.value, hiddenCurso, "Arquivo enviado com sucesso pelo usuário")
                    } catch (error) {
                        document.getElementById("formContainer").innerHTML =
                            '<div class="col-lg-12 pt-15"><div class="content white-bg light-shadow-bordered" style="background-size: cover;background-repeat: no-repeat;border-radius: 3px;padding: 10px;background-color: #fff9e2; color:#444;"><div class="row y-middle"><div class="col-lg-3"><span class="fa-stack fa-lg" aria-hidden="true" style=""><i class="fa fa-circle fa-stack-2x" style="color: #ffcc00;"></i><i class="fa fa-exclamation fa-stack-1x fa-inverse"></i></span></div><div class="col-lg-9 text-left pl-15"><div class="sub-title primary" style="font-weight: 500;">ERRO AO ENVIAR</div><div class="small">Tente enviar o arquivo novamente</div></div></div></div></div>'
                        await createUploadAttemptError(enrollmentId.data, inputEmail.value, hiddenCurso, `Erro durante o upload do arquivo: ${error}`)
                    }

                } else {
                    await createUploadAttemptError(null, inputEmail.value, hiddenCurso, `Inscrição não encontrada para o email ${inputEmail.value}`)
                    showErrorMessage(document.getElementById("inputEmail"), "O e-mail informado não está cadastrado neste processo seletivo. Caso tenha alguma dúvida, por favor, entre em contato com a SoulCode Academy para obter mais informações.")
                    buttonEnviar.removeAttribute("disabled")
                    buttonEnviar.style.backgroundColor = "#273c66"
                    buttonEnviar.innerHTML = '<i class="fa fa-cloud-upload fa-lg" aria-hidden="true" style="padding-right:5px"></i>Enviar Vídeo'
                }
            }
        })

        function validateForm() {
            component = document.getElementById("inputEmail")

            if (component.value.trim() == "") {
                showErrorMessage(component, "Informe seu e-mail antes de prosseguir")
                return false
            }
            else {
                if (component.value.indexOf(" ") > -1) {
                    showErrorMessage(component, "Remova espaço em branco no endereço do e-mail.")
                    return false
                }
                else {
                    if (component.value.indexOf("@") == -1) {
                        showErrorMessage(component, "Endereço de e-mail incompleto")
                        return false
                    }
                    else {
                        if (component.value.split("@").length > 1) {
                            if (component.value.split("@")[1].trim() == "") {
                                showErrorMessage(component, "Formato de e-mail inválido")
                                return false
                            }
                        }
                    }
                }

                component = document.getElementById("inputArquivo")

                if (component.value === '') {
                    showErrorMessage(component, "Selecione um arquivo antes de prosseguir")
                    return false
                }

                return true
            }
        }

        async function createUploadAttemptError(enrollmentId, email, course, message) {
            try {
                if (enrollmentId !== null) {
                    await db.collection("UploadVideo").doc(enrollmentId).set({
                        'email': email,
                        'status': 'error',
                        'message': message,
                        'timestamp': Date.now(),
                        'courseIdAttempt': course
                    })
                } else {
                    await db.collection("UploadVideo").add({
                        'email': email,
                        'status': 'error',
                        'message': message,
                        'timestamp': Date.now(),
                        'courseIdAttempt': course
                    })
                }

            } catch (error) {
                console.error(error)
            }
        }

        async function createUploadAttemptSuccess(enrollmentId, email, course, message) {
            try {
                await db.collection("UploadVideo").doc(enrollmentId).set({
                    'email': email,
                    'status': 'success',
                    'message': message,
                    'timestamp': Date.now(),
                    'courseIdAttempt': course
                })
            } catch (error) {
                console.error(error)
            }
        }

        function showErrorMessage(component, message) {
            if (component.id == 'inputArquivo') {
                component = document.getElementById("labelArquivo")
            }

            component.style.backgroundColor = "#ead3d4";

            document.getElementById("error-list").insertAdjacentHTML('beforeend', '<div id="' + component.id + '_errorMessage" ' +
                'style="font-size: 13px; border: 1px solid #ff0000; color: #FF0000; padding: 10px 17px; width: 100%; border-radius: 5px; margin-bottom: 19px; background-color: #ead3d4">' +
                '<i class="fa fa-exclamation-circle pr-10"></i>' + message + '</div>')
        }

    </script>



</body>

</html>