<div class="container p-5 my-5 border">
<h1>Etapa Teste de Lógica</h1>
<p>Bem vindo(a) a primeira etapa do seu processo seletivo. Vamos realizar um teste de lógica (Definir texto real, esta é
  apenas uma marcação)</p>

  <div class="form-check">
    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>resposta 1
    <label class="form-check-label" for="radio1"></label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">resposta 2
    <label class="form-check-label" for="radio2"></label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">resposta 3
    <label class="form-check-label" for="radio3"></label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">resposta 4
    <label class="form-check-label" for="radio4"></label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" id="radio5" name="optradio" value="option5">resposta 5
    <label class="form-check-label" for="radio5"></label>
  </div>

</div>